* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        font-family: 'Catamaran', sans-serif;
    }

.container{
    display: flex;
    flex-direction: column;
}

.chosenRGB{
    height: 10%;
    width: 100%;
    background-color: greenyellow;
}

.rgb{
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.diffChoice{
    display: inline-flex;
    margin: 0 auto;
}

.colourChoices{
    margin: 0 auto;
}

.topRow, .bottomRow{
    flex-direction: row;
    display: flex;
}

.difficulty{
    margin: 10px 20px;
}

.c{
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.active {
    background-color: plum;
    border-radius: 5px;
  }
.hide {
    opacity:0;
}

.reset, .verdict{
  text-align: center;
    margin: 0 auto;  
}

h1{
    font-size: 38px;
}

p {
    font-size: 24px;
}

@media only screen and (max-width: 700px) {
    .c{
        margin: 20px;
        width: 100px;
        height: 100px;
        border-radius: 15px;
    }
}