* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

.container{
    display: flex;
    flex-direction: column;
}

.chosenRGB{
    height: 10%;
    width: 100%;
    background-color: greenyellow;
}

.rgb{
    padding: 30px;
    text-align: center;
    margin: 0 auto;
}

.diffChoice{
    display: inline-flex;
    margin: 0 auto;
}

.colourChoices{
    margin: 0 auto;
}

.topRow, .bottomRow{
    flex-direction: row;
    display: flex;
}

.difficulty{
    margin: 20px;
}

.c{
    margin: 20px;
    width: 200px;
    height: 200px;
}

.hide {
    opacity:0;
}

.reset{
  text-align: center;
    margin: 0 auto;  
}